pbwebbo/pbwebbo-jar/src/test/resources/wsdl/ACARISWS-OfficialBookService.wsdl

<?xml version="1.0" ?>
<wsdl:definitions name="OfficialBookService"
	targetNamespace="officialbookservice.acaris.acta.doqui.it"
	xmlns:tns="officialbookservice.acaris.acta.doqui.it"
	xmlns:common="common.acaris.acta.doqui.it"
	xmlns:officialbook="officialbookservice.acaris.acta.doqui.it"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema targetNamespace="common.acaris.acta.doqui.it">
			<xsd:include schemaLocation="ACARIS-Common.xsd" />
		</xsd:schema>
		<xsd:schema
			targetNamespace="officialbookservice.acaris.acta.doqui.it">
			<xsd:include schemaLocation="ACARIS-OfficialBook.xsd" />
			<xsd:include
				schemaLocation="ACARIS-OfficialBookMessaging.xsd" />
		</xsd:schema>
	</wsdl:types>

	<!-- messaggi -->

	<wsdl:message name="acarisException">
		<wsdl:part name="fault" element="common:acarisFault" />
	</wsdl:message>

	<!-- creaRegistrazione -->
	<wsdl:message name="creaRegistrazioneRequest">
		<wsdl:part name="input"
			element="officialbook:creaRegistrazione" />
	</wsdl:message>
	<wsdl:message name="creaRegistrazioneResponse">
		<wsdl:part name="output"
			element="officialbook:creaRegistrazioneResponse" />
	</wsdl:message>

	<!-- importaRegistrazione -->
	<wsdl:message name="importaRegistrazioneRequest">
		<wsdl:part name="input"
			element="officialbook:importaRegistrazione" />
	</wsdl:message>
	<wsdl:message name="importaRegistrazioneResponse">
		<wsdl:part name="output"
			element="officialbook:importaRegistrazioneResponse" />
	</wsdl:message>

	<!-- getRegistries -->
	<wsdl:message name="getRegistriesRequest">
		<wsdl:part name="input" element="officialbook:getRegistries" />
	</wsdl:message>
	<wsdl:message name="getRegistriesResponse">
		<wsdl:part name="output"
			element="officialbook:getRegistriesResponse" />
	</wsdl:message>

	<!-- getProperties -->
	<wsdl:message name="getPropertiesRequest">
		<wsdl:part name="input" element="officialbook:getProperties" />
	</wsdl:message>
	<wsdl:message name="getPropertiesResponse">
		<wsdl:part name="output"
			element="officialbook:getPropertiesResponse" />
	</wsdl:message>

	<!-- updateProperties -->
	<wsdl:message name="updatePropertiesRequest">
		<wsdl:part name="input"
			element="officialbook:updateProperties" />
	</wsdl:message>
	<wsdl:message name="updatePropertiesResponse">
		<wsdl:part name="output"
			element="officialbook:updatePropertiesResponse" />
	</wsdl:message>

	<!-- query -->
	<wsdl:message name="queryRequest">
		<wsdl:part name="input" element="common:query" />
	</wsdl:message>
	<wsdl:message name="queryResponse">
		<wsdl:part name="output" element="common:queryResponse" />
	</wsdl:message>
	
	<!-- getPropertiesMassive -->
	<wsdl:message name="getPropertiesMassiveRequest">
		<wsdl:part name="input"
			element="common:getPropertiesMassive" />
	</wsdl:message>
	<wsdl:message name="getPropertiesMassiveResponse">
		<wsdl:part name="output"
			element="common:getPropertiesMassiveResponse" />
	</wsdl:message>

	<!-- creaAnnotazioneOB -->
	<wsdl:message name="creaAnnotazioneOBRequest">
		<wsdl:part name="input"
			element="officialbook:creaAnnotazioneOB" />
	</wsdl:message>
	<wsdl:message name="creaAnnotazioneOBResponse">
		<wsdl:part name="output"
			element="officialbook:creaAnnotazioneOBResponse" />
	</wsdl:message>

	<!-- inviaSegnatura -->
	<wsdl:message name="inviaSegnaturaRequest">
		<wsdl:part name="input"
			element="officialbook:inviaSegnatura" />
	</wsdl:message>
	<wsdl:message name="inviaSegnaturaResponse">
		<wsdl:part name="output"
			element="officialbook:inviaSegnaturaResponse" />
	</wsdl:message>


	<wsdl:portType name="OfficialBookServicePort">
		<!-- creaRegistrazione -->
		<wsdl:operation name="creaRegistrazione">
			<wsdl:input message="tns:creaRegistrazioneRequest" />
			<wsdl:output message="tns:creaRegistrazioneResponse" />
			<wsdl:fault name="creaRegistrazioneFault"
				message="tns:acarisException" />
		</wsdl:operation>
		<!-- importaRegistrazione -->
		<wsdl:operation name="importaRegistrazione">
			<wsdl:input message="tns:importaRegistrazioneRequest" />
			<wsdl:output message="tns:importaRegistrazioneResponse" />
			<wsdl:fault name="importaRegistrazioneFault"
				message="tns:acarisException" />
		</wsdl:operation>
		<!-- getRegistries -->
		<wsdl:operation name="getRegistries">
			<wsdl:input message="tns:getRegistriesRequest" />
			<wsdl:output message="tns:getRegistriesResponse" />
			<wsdl:fault name="getRegistriesFault"
				message="tns:acarisException" />
		</wsdl:operation>
		<!-- getProperties -->
		<wsdl:operation name="getProperties">
			<wsdl:input message="tns:getPropertiesRequest" />
			<wsdl:output message="tns:getPropertiesResponse" />
			<wsdl:fault name="getPropertiesFault"
				message="tns:acarisException" />
		</wsdl:operation>
		<!-- updateProperties -->
		<wsdl:operation name="updateProperties">
			<wsdl:input message="tns:updatePropertiesRequest" />
			<wsdl:output message="tns:updatePropertiesResponse" />
			<wsdl:fault name="updatePropertiesFault"
				message="tns:acarisException" />
		</wsdl:operation>
		<!-- query -->
		<wsdl:operation name="query">
			<wsdl:input message="tns:queryRequest" />
			<wsdl:output message="tns:queryResponse" />
			<wsdl:fault name="queryFault"
				message="tns:acarisException" />
		</wsdl:operation>
		<!-- getPropertiesMassive operation -->
		<wsdl:operation name="getPropertiesMassive">
			<wsdl:input message="tns:getPropertiesMassiveRequest" />
			<wsdl:output message="tns:getPropertiesMassiveResponse" />
			<wsdl:fault name="getPropertiesMassiveFault"
				message="tns:acarisException" />
		</wsdl:operation>
		<!-- creaAnnotazioneOB operation -->
		<wsdl:operation name="creaAnnotazioneOB">
			<wsdl:input message="tns:creaAnnotazioneOBRequest" />
			<wsdl:output message="tns:creaAnnotazioneOBResponse" />
			<wsdl:fault name="creaAnnotazioneOBFault"
				message="tns:acarisException" />
		</wsdl:operation>
		<!-- inviaSegnatura -->
		<wsdl:operation name="inviaSegnatura">
			<wsdl:input message="tns:inviaSegnaturaRequest" />
			<wsdl:output message="tns:inviaSegnaturaResponse" />
			<wsdl:fault name="inviaSegnaturaFault"
				message="tns:acarisException" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="OfficialBookServiceBinding"
		type="tns:OfficialBookServicePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<!-- creaRegistrazione -->
		<wsdl:operation name="creaRegistrazione">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="creaRegistrazioneFault">
				<soap:fault name="creaRegistrazioneFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- importaRegistrazione -->
		<wsdl:operation name="importaRegistrazione">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="importaRegistrazioneFault">
				<soap:fault name="importaRegistrazioneFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- getRegistries -->
		<wsdl:operation name="getRegistries">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="getRegistriesFault">
				<soap:fault name="getRegistriesFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- getProperties -->
		<wsdl:operation name="getProperties">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="getPropertiesFault">
				<soap:fault name="getPropertiesFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- updateProperties -->
		<wsdl:operation name="updateProperties">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="updatePropertiesFault">
				<soap:fault name="updatePropertiesFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- query -->
		<wsdl:operation name="query">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="queryFault">
				<soap:fault name="queryFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- getPropertiesMassive -->
		<wsdl:operation name="getPropertiesMassive">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="getPropertiesMassiveFault">
				<soap:fault name="getPropertiesMassiveFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- creaAnnotazioneOB -->
		<wsdl:operation name="creaAnnotazioneOB">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="creaAnnotazioneOBFault">
				<soap:fault name="creaAnnotazioneOBFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- inviaSegnatura -->
		<wsdl:operation name="inviaSegnatura">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="inviaSegnaturaFault">
				<soap:fault name="inviaSegnaturaFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="OfficialBookService">
		<wsdl:port name="OfficialBookServicePort"
			binding="tns:OfficialBookServiceBinding">
			<soap:address
				location="http://localhost:${HttpDefaultPort}/officialbookservice/officialbookserviceaPort" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
