pbwebbo/pbwebbo-jar/src/test/resources/wsdl/ACARISWS-DocumentService.wsdl

<?xml version="1.0" ?>
<wsdl:definitions name="DocumentService"
	targetNamespace="documentservice.acaris.acta.doqui.it"
	xmlns:tns="documentservice.acaris.acta.doqui.it"
	xmlns:common="common.acaris.acta.doqui.it"
	xmlns:archive="archive.acaris.acta.doqui.it"
	xmlns:document="document.acaris.acta.doqui.it"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema targetNamespace="common.acaris.acta.doqui.it">
			<xsd:include schemaLocation="ACARIS-Common.xsd" />
			<xsd:import namespace="archive.acaris.acta.doqui.it"
				schemaLocation="ACARIS-Archive.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="document.acaris.acta.doqui.it">
			<xsd:import
				namespace="documentservice.acaris.acta.doqui.it"
				schemaLocation="ACARIS-Document.xsd" />
			<xsd:include
				schemaLocation="ACARIS-DocumentMessaging.xsd" />
		</xsd:schema>
	</wsdl:types>

	<!-- messaggi -->

	<wsdl:message name="acarisException">
		<wsdl:part name="fault" element="common:acarisFault" />
	</wsdl:message>

	<!-- creaDocumento -->
	<wsdl:message name="creaDocumentoRequest">
		<wsdl:part name="input" element="document:creaDocumento" />
	</wsdl:message>
	<wsdl:message name="creaDocumentoResponse">
		<wsdl:part name="output"
			element="document:creaDocumentoResponse" />
	</wsdl:message>

	<!-- getRappresentazioneDocumento -->
	<wsdl:message name="getRappresentazioneDocumentoRequest">
		<wsdl:part name="input"
			element="document:getRappresentazioneDocumento" />
	</wsdl:message>
	<wsdl:message name="getRappresentazioneDocumentoResponse">
		<wsdl:part name="output"
			element="document:getRappresentazioneDocumentoResponse" />
	</wsdl:message>

	<!-- trasformaDocumentoPlaceHolderInDocumentoElettronico -->
	<wsdl:message
		name="trasformaDocumentoPlaceholderInDocumentoElettronicoRequest">
		<wsdl:part name="input"
			element="document:trasformaDocumentoPlaceholderInDocumentoElettronico" />
	</wsdl:message>
	<wsdl:message
		name="trasformaDocumentoPlaceholderInDocumentoElettronicoResponse">
		<wsdl:part name="output"
			element="document:trasformaDocumentoPlaceholderInDocumentoElettronicoResponse" />
	</wsdl:message>

	<!-- getVerifyReportInfo <wsdl:message name="getVerifyReportInfoRequest"> 
		<wsdl:part name="input" element="document:getVerifyReportInfo"/> </wsdl:message> 
		<wsdl:message name="getVerifyReportInfoResponse"> <wsdl:part name="output" 
		element="document:getVerifyReportInfoResponse"/> </wsdl:message> -->

	<!-- getPropertiesMassive -->
	<wsdl:message name="getPropertiesMassiveRequest">
		<wsdl:part name="input"
			element="common:getPropertiesMassive" />
	</wsdl:message>
	<wsdl:message name="getPropertiesMassiveResponse">
		<wsdl:part name="output"
			element="common:getPropertiesMassiveResponse" />
	</wsdl:message>

	<!-- creaDocumentoFisicoInDocumentRootRequest -->
	<wsdl:message
		name="creaDocumentoFisicoInDocumentRootRequest">
		<wsdl:part name="input"
			element="document:creaDocumentoFisicoInDocumentRoot" />
	</wsdl:message>
	<wsdl:message
		name="creaDocumentoFisicoInDocumentRootResponse">
		<wsdl:part name="output"
			element="document:creaDocumentoFisicoInDocumentRootResponse" />
	</wsdl:message>

	<!-- uploadContenutoFisico -->
	<wsdl:message name="uploadContenutoFisicoRequest">
		<wsdl:part name="input"
			element="document:uploadContenutoFisico" />
	</wsdl:message>
	<wsdl:message name="uploadContenutoFisicoResponse">
		<wsdl:part name="output"
			element="document:uploadContenutoFisicoResponse" />
	</wsdl:message>

	<wsdl:portType name="DocumentServicePort">
		<!-- creaDocumento operation -->
		<wsdl:operation name="creaDocumento">
			<wsdl:input message="tns:creaDocumentoRequest" />
			<wsdl:output message="tns:creaDocumentoResponse" />
			<wsdl:fault name="creaDocumentoFault"
				message="tns:acarisException" />
		</wsdl:operation>
		<!-- getRappresentazioneDocumento operation -->
		<wsdl:operation name="getRappresentazioneDocumento">
			<wsdl:input
				message="tns:getRappresentazioneDocumentoRequest" />
			<wsdl:output
				message="tns:getRappresentazioneDocumentoResponse" />
			<wsdl:fault name="getRappresentazioneDocumentoFault"
				message="tns:acarisException" />
		</wsdl:operation>
		<!-- getPropertiesMassive operation -->
		<wsdl:operation name="getPropertiesMassive">
			<wsdl:input message="tns:getPropertiesMassiveRequest" />
			<wsdl:output message="tns:getPropertiesMassiveResponse" />
			<wsdl:fault name="getPropertiesMassiveFault"
				message="tns:acarisException" />
		</wsdl:operation>
		<!-- trasformaDocumentoPlaceholderInDocumentoElettronico operation -->
		<wsdl:operation
			name="trasformaDocumentoPlaceholderInDocumentoElettronico">
			<wsdl:input
				message="tns:trasformaDocumentoPlaceholderInDocumentoElettronicoRequest" />
			<wsdl:output
				message="tns:trasformaDocumentoPlaceholderInDocumentoElettronicoResponse" />
			<wsdl:fault
				name="trasformaDocumentoPlaceholderInDocumentoElettronicoFault"
				message="tns:acarisException" />
		</wsdl:operation>
		<!-- creaDocumentoFisicoInDocumentRoot operation -->
		<wsdl:operation
			name="creaDocumentoFisicoInDocumentRoot">
			<wsdl:input
				message="tns:creaDocumentoFisicoInDocumentRootRequest" />
			<wsdl:output
				message="tns:creaDocumentoFisicoInDocumentRootResponse" />
			<wsdl:fault name="creaDocumentoFisicoInDocumentRootFault"
				message="tns:acarisException" />
		</wsdl:operation>
		<!-- uploadContenutoFisico operation -->
		<wsdl:operation name="uploadContenutoFisico">
			<wsdl:input message="tns:uploadContenutoFisicoRequest" />
			<wsdl:output message="tns:uploadContenutoFisicoResponse" />
			<wsdl:fault name="uploadContenutoFisicoFault"
				message="tns:acarisException" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="DocumentServiceBinding"
		type="tns:DocumentServicePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<!-- creaDocumento -->
		<wsdl:operation name="creaDocumento">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="creaDocumentoFault">
				<soap:fault name="creaDocumentoFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- getRappresentazioneDocumento -->
		<wsdl:operation name="getRappresentazioneDocumento">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="getRappresentazioneDocumentoFault">
				<soap:fault name="getRappresentazioneDocumentoFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- trasformaDocumentoPlaceholderInDocumentoElettronico -->
		<wsdl:operation
			name="trasformaDocumentoPlaceholderInDocumentoElettronico">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault
				name="trasformaDocumentoPlaceholderInDocumentoElettronicoFault">
				<soap:fault
					name="trasformaDocumentoPlaceholderInDocumentoElettronicoFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- getVerifyReportInfo <wsdl:operation name="getVerifyReportInfo"> <soap:operation/> 
			<soap:input name="input"> <soap:body use="literal"/> </soap:input> <soap:output 
			name="output"> <soap:body use="literal"/> </soap:output> <soap:fault name="AcarisException"> 
			<soap:fault use="literal" name="AcarisException"/> </soap:fault> </wsdl:operation> -->
		<!-- getPropertiesMassive -->
		<wsdl:operation name="getPropertiesMassive">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="getPropertiesMassiveFault">
				<soap:fault name="getPropertiesMassiveFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- creaDocumentoFisicoInDocumentRoot -->
		<wsdl:operation
			name="creaDocumentoFisicoInDocumentRoot">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="creaDocumentoFisicoInDocumentRootFault">
				<soap:fault name="creaDocumentoFisicoInDocumentRootFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- uploadContenutoFisico -->
		<wsdl:operation name="uploadContenutoFisico">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="uploadContenutoFisicoFault">
				<soap:fault name="uploadContenutoFisicoFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="DocumentService">
		<wsdl:port name="DocumentServicePort"
			binding="tns:DocumentServiceBinding">
			<soap:address
				location="http://localhost:${HttpDefaultPort}/documentservice/documentserviceaPort" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>



