pbweb/pbweb-jar/src/main/resources/wsdl/ACARIS-ArchiveMessaging.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
    jaxb:version="2.0"
    xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
            targetNamespace="archive.acaris.acta.doqui.it"
            xmlns:tns="archive.acaris.acta.doqui.it"
            xmlns:common="common.acaris.acta.doqui.it"
               elementFormDefault="qualified">

    <xs:include schemaLocation="ACARIS-Archive.xsd"/>
    <xs:import namespace="common.acaris.acta.doqui.it"  schemaLocation="ACARIS-Common.xsd"/>
   


	<!--============-->
	<!-- Exceptions -->
	<!--============-->

	<!--=======================================================================================================-->
	<!-- Definizione tipi di dato specifici dei messaggi ma non direttamente collegati all'object model ACARIS -->
	<!--=======================================================================================================-->

	<xs:simpleType name="enumIncludeRelationshipsType">
		<xs:restriction base="common:string">
			<xs:enumeration value="none" />
			<xs:enumeration value="source" />
			<xs:enumeration value="target" />
			<xs:enumeration value="both" />
		</xs:restriction>
	</xs:simpleType>

	

	<xs:simpleType name="enumRelationshipDirectionType">
		<xs:restriction base="common:string">
			<xs:enumeration value="source" />
			<xs:enumeration value="target" />
			<xs:enumeration value="either" />
		</xs:restriction>
	</xs:simpleType>
	
	<!--
	<xs:simpleType name="enumArchiveQueryableObject">
		<xs:restriction base="common:string">
			
		</xs:restriction>
	</xs:simpleType>
	-->

	<!--  Repository entry -->
	<xs:complexType name="acarisRepositoryEntryType">
		<xs:sequence>
			<xs:element name="repositoryId" type="common:ObjectIdType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="repositoryName" type="common:string"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="repositoryURI" type="common:string"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<!--  Repository info -->
	<xs:complexType name="acarisRepositoryInfoType">
		<xs:sequence minOccurs="1">
			<xs:element name="repositoryId" type="common:ObjectIdType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="repositoryName" type="common:string"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="repositoryURI" type="common:string"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="repositoryDescription" type="common:string"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="rootFolderId" type="common:ObjectIdType" />
			<xs:element name="documentRootFolderId" type="common:ObjectIdType" 
				minOccurs="1" maxOccurs="1" />
			<xs:element name="numeroMassimoRisultati" type="common:integer" 
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	
	
	<xs:complexType name="acarisRenditionType">
		<xs:sequence>
			<xs:element name="streamId" type="common:enumStreamId" />
			<xs:element name="mimeType" type="common:enumMimeTypeType" minOccurs="0" />
			<!-- 
			<xs:element name="length" type="xs:integer" minOccurs="0" />
			<xs:element name="title" type="common:string" minOccurs="0" />
			<xs:element name="kind" type="common:string" minOccurs="0" />
			<xs:element name="height" type="common:integer" minOccurs="0" />
			<xs:element name="width" type="common:integer" minOccurs="0" />
			<xs:element name="renditionDocumentId" type="common:ObjectIdType" minOccurs="0" />
			<xs:any namespace="##other" />
			 -->
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="MoveDocumentPropertiesType">
		<xs:complexContent>
			<xs:extension base="common:PropertiesType">
				<xs:sequence>
					<xs:element name="offlineMoveRequest" type="common:boolean" />
					<xs:element name="idSmistamentoType" type="common:IdSmistamentoType" minOccurs="0" /> 
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!--=================-->
	<!-- Object services -->
	<!--=================-->
	
	<!-- createDocument Operation -->
	<xs:element name="createDocument">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="typeId" type="tns:enumDocumentObjectType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<!-- must match the type attribute value of the properties object -->
				<xs:element name="properties" type="common:PropertiesType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="folderId" type="common:ObjectIdType" minOccurs="0"
					maxOccurs="1" />
				<xs:element name="contentStream" type="common:acarisContentStreamType"
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="createDocumentResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="objectId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- createAssociativeDocument Operation -->
	<xs:element name="createAssociativeDocument">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="typeId" type="tns:enumDocumentObjectType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="associativeObjectTypeId" type="tns:enumFolderObjectType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<!-- must match the type attribute value of the properties object -->
				<xs:element name="properties" type="common:PropertiesType"
					minOccurs="1" maxOccurs="1" />
				<!-- must match the type attribute value of the properties associative object -->
				<xs:element name="associativeObjectProperties" type="common:PropertiesType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="folderId" type="common:ObjectIdType" minOccurs="0"
					maxOccurs="1" />
				<xs:element name="contentStream" type="common:acarisContentStreamType"
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="createAssociativeDocumentResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="objectId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- createFolder Operation -->
	<xs:element name="createFolder">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="typeId" type="tns:enumFolderObjectType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<!-- must match the type attribute value of the properties object -->
				<xs:element name="properties" type="common:PropertiesType"
					minOccurs="1" maxOccurs="1" />				
				<xs:element name="folderId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="createFolderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="objectId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- createRelationship Operation -->
	<xs:element name="createRelationship">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="typeId" type="tns:enumRelationshipObjectType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<!-- must match the type attribute value of the properties object -->
				<xs:element name="properties" type="common:PropertiesType"
					minOccurs="1" maxOccurs="1" />
				<!--
					if sourceObjectId exist in the properties passed in then their
					values MUST match
				-->
				<xs:element name="sourceObjectId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<!--
					if targetObjectId exist in the properties passed in then their
					values MUST match
				-->
				<xs:element name="targetObjectId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="createRelationshipResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="objectId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- getObject Operation -->
	<!-- L'operazione con includeRelationships e' equivalente a getObjectRelationships -->
	<!-- Puo' servire per includeACL											  -->
	<!-- 
	<xs:element name="getObject">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="objectId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="filter" type="common:QueryNameType" 
					minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="includeRelationships" type="tns:enumIncludeRelationshipsType"
					minOccurs="1" maxOccurs="1" />		
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getObjectResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="object" type="common:ObjectResponseType"
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	-->
 
	<!-- getProperties Operation -->
	<xs:element name="getProperties">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="objectId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="filter" type="common:PropertyFilterType" 
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getPropertiesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="object" type="common:ObjectResponseType"
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- getContentStream Operation -->
	<xs:element name="getContentStream">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="documentId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="streamId" type="common:enumStreamId" 
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getContentStreamResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="contentStream" type="common:acarisContentStreamType"
					minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- getRenditions Operation -->
	<xs:element name="getRenditions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="objectId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="renditionFilter" type="common:string"
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getRenditionsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="renditions" type="tns:acarisRenditionType"
					minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- addRenditionStream Operation -->
	<xs:element name="addRenditionStream">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="documentId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="changeToken" type="common:ChangeTokenType"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="streamId" type="common:enumStreamId" 
					minOccurs="0" maxOccurs="1" />
				<xs:element name="contentStream" type="common:acarisContentStreamType"
					minOccurs="1" maxOccurs="2" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="addRenditionStreamResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="response" type="common:SimpleResponseType"
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- updateProperties Operation -->
	<xs:element name="updateProperties">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="objectId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="changeToken" type="common:ChangeTokenType"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="properties" type="common:PropertyType"
					minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="updatePropertiesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="response" type="common:SimpleResponseType"
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- closeFolder Operation -->
	<xs:element name="closeFolder">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="objectId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="closeFolderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="response" type="common:SimpleResponseType"
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- moveDocument Operation -->
	<xs:element name="moveDocument">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="associativeObjectId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="sourceFolderId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="targetFolderId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="associativeProperties" type="common:PropertiesType"
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="moveDocumentResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="associativeObjectId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- deleteObject Operation -->
	<xs:element name="deleteObject">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="objectId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="deleteObjectResponse">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>

	<!-- setContentStream Operation -->
	<xs:element name="setContentStream">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="documentId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
<!--
				<xs:element name="overwriteFlag" type="common:boolean"
					minOccurs="0" maxOccurs="1" />
-->
				<xs:element name="changeToken" type="common:ChangeTokenType"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="contentStream" type="common:acarisContentStreamType"
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="setContentStreamResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="response" type="common:SimpleResponseType"
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- deleteContentStream Operation -->
	<xs:element name="deleteContentStream">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="documentId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="changeToken" type="common:ChangeTokenType"
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="deleteContentStreamResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="response" type="common:SimpleResponseType"
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!--=======================-->
	<!-- Multi-filing services -->
	<!--=======================-->

	<!-- addObjectToFolder Operation-->
	<xs:element name="addObjectToFolder">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="objectId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="folderId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="addObjectToFolderResponse">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>

	<!-- addAssociativeObjectToFolder Operation-->
	<xs:element name="addAssociativeObjectToFolder">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="objectId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="folderId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="associativeObjectTypeId" type="tns:enumFolderObjectType" 
					minOccurs="1" maxOccurs="1" />
				<!-- must match the type attribute value of the properties associative object -->
				<xs:element name="associativeObjectProperties" type="common:PropertiesType"
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="addAssociativeObjectToFolderResponse">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>

	<!-- removeObjectFromFolder Operation-->
	<xs:element name="removeObjectFromFolder">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="objectId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="folderId" type="common:ObjectIdType" 
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="removeObjectFromFolderResponse">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	
	<!-- aggiungiClassificazione Operation-->
	<xs:element name="aggiungiClassificazione">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="classificazioneDiPartenzaId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="folderId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="params" type="common:VarargsType"
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="aggiungiClassificazioneResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="response" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	

	<!--========================-->
	<!-- Relationships services -->
	<!--========================-->

	<!-- getObjectRelationships Operation -->
	<xs:element name="getObjectRelationships">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="objectId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="typeId" type="tns:enumRelationshipObjectType" 
					minOccurs="0" maxOccurs="1" />
				<xs:element name="direction" type="tns:enumRelationshipDirectionType"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="filter" type="common:PropertyFilterType" 
					minOccurs="1" maxOccurs="1" />
<!--  
				<xs:element name="maxItems" type="common:integer" 
					minOccurs="0" maxOccurs="1" />
				<xs:element name="skipCount" type="common:integer" 
					minOccurs="0" maxOccurs="1" />

				<xs:element name="includeSubRelationshipTypes" type="common:boolean"
					minOccurs="0" maxOccurs="1" nillable="true" />
				<xs:element name="includeAllowableActions" type="common:boolean"
					minOccurs="0" maxOccurs="1" nillable="true" />
-->


				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getObjectRelationshipsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="response" type="tns:RelationshipPropertiesType"
					minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--=====================-->
	<!-- Navigation services -->
	<!--=====================-->

	<!-- getDescendants operation -->
	<xs:element name="getDescendants">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="folderId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="depth" type="common:integer" 
					minOccurs="0" maxOccurs="1" />
				<xs:element name="filter" type="common:PropertyFilterType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="maxItems" type="common:integer" 
					minOccurs="0" maxOccurs="1" />
				<xs:element name="skipCount" type="common:integer" 
					minOccurs="0" maxOccurs="1" />
<!-- 
				<xs:element name="includeRelationships" type="tns:enumIncludeRelationshipsType"
					minOccurs="1" maxOccurs="1" />
-->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getDescendantsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="objects" type="common:PagingResponseType"
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- getChildren Operation -->
	<xs:element name="getChildren">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="folderId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="filter" type="common:PropertyFilterType" 
					minOccurs="1" maxOccurs="1" />
<!-- 
				<xs:element name="includeRelationships" type="tns:enumIncludeRelationshipsType"
					minOccurs="1" maxOccurs="1" />
-->
				<xs:element name="maxItems" type="common:integer" 
					minOccurs="0" maxOccurs="1" />
				<xs:element name="skipCount" type="common:integer" 
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getChildrenResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="response" type="common:PagingResponseType"
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- getFolderParent Operation -->
	<xs:element name="getFolderParent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="folderId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="filter" type="common:PropertyFilterType" 
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getFolderParentResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="object" type="common:ObjectResponseType"
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- getObjectParents Operation -->
	<xs:element name="getObjectParents">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="objectId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="filter" type="common:PropertyFilterType" 
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getObjectParentsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="objects" type="common:ObjectResponseType"
					minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!--====================-->
	<!-- Repository Services-->
	<!--====================-->
	
	<!-- getRepositories Operation -->
	<xs:element name="getRepositories">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="getRepositoriesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repository" type="tns:acarisRepositoryEntryType"
					minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!-- getRepositoryInfo Operation -->
	<xs:element name="getRepositoryInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getRepositoryInfoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryInfo" type="tns:acarisRepositoryInfoType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- getTypeDefinition Operation -->
	<!-- Non strettamente necessaria, release 2, verificare con getTypeDescendants -->


</xs:schema>
