pbweb/pbweb-jar/src/main/resources/wsdl/ACARIS-Common.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
jaxb:version="2.0"
xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
            targetNamespace="common.acaris.acta.doqui.it"
            xmlns:tns="common.acaris.acta.doqui.it">
       

	<!--===============-->
	<!-- tipi semplici -->
	<!--===============-->

	<xs:simpleType name="string">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="IDDBType">
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="integer">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="boolean">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="timeStamp">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="date">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="base64Binary">
		<xs:restriction base="xs:base64Binary"/>
	</xs:simpleType>

	<!--================-->
	<!-- tipi complessi -->
	<!--================-->

	<xs:complexType name="DecodificaType">
		<xs:sequence>
			<xs:element name="identificatore"					type="tns:IDDBType"/>
			<xs:element name="codice"							type="tns:string"/>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="DecodificaExtType">
		<xs:complexContent>
			<xs:extension base="tns:DecodificaType">
				<xs:sequence>
					<xs:element name="descrizione"	type="tns:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="PrincipalIdType">
		<xs:sequence>
			<xs:element name="value"							type="tns:IDType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObjectIdType">
		<xs:sequence>
			<xs:element name="value"							type="tns:IDType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChangeTokenType">
		<xs:sequence>
			<xs:element name="value"							type="tns:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdAnnotazioniType">
		<xs:sequence>
			<xs:element name="value"							type="tns:IDDBType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdAOOType">
		<xs:sequence>
			<xs:element name="value"							type="tns:IDDBType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdStrutturaType">
		<xs:sequence>
			<xs:element name="value"							type="tns:IDDBType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdNodoType">
		<xs:sequence>
			<xs:element name="value"							type="tns:IDDBType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdVitalRecordCodeType">
		<xs:sequence>
			<xs:element name="value"							type="tns:IDDBType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdMovimentazioneType">
		<xs:sequence>
			<xs:element name="value"							type="tns:IDDBType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdProtocolloType">
		<xs:sequence>
			<xs:element name="value"							type="tns:IDDBType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdProvvedimentoAutorizzatType">
		<xs:sequence>
			<xs:element name="value"							type="tns:IDDBType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdProfiloType">
		<xs:sequence>
			<xs:element name="value"							type="tns:IDDBType"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CodiceFiscaleType">
		<xs:sequence>
			<xs:element name="value"							type="tns:string"/>
		</xs:sequence>
	</xs:complexType>
	
	
	
	<xs:complexType name="IdUtenteType">
		<xs:sequence>
			<xs:element name="value"							type="tns:IDDBType"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="IdRegistrazioneType">
		<xs:sequence>
			<xs:element name="value"							type="tns:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="IdSmistamentoType">
		<xs:sequence>
			<xs:element name="value"							type="tns:IDDBType"/>
		</xs:sequence>
	</xs:complexType>
	
	
	

	<!--===========-->
	<!-- eccezioni -->
	<!--===========-->

	<xs:simpleType name="enumErrorCodeType">
		<xs:restriction base="tns:string">
			<xs:enumeration value="SER-E001" />
			<xs:enumeration value="SER-E002" />
			<xs:enumeration value="SER-E003" />
			<xs:enumeration value="SER-E004" />
			<xs:enumeration value="SER-E005" />
			<xs:enumeration value="SER-E006" />
			<xs:enumeration value="SER-E007" />
			<xs:enumeration value="SER-E008" />
			<xs:enumeration value="SER-E009" />
			<xs:enumeration value="SER-E010" />
			<xs:enumeration value="SER-E011" />
			<xs:enumeration value="SER-E012" />
			<xs:enumeration value="SER-E013" />
			<xs:enumeration value="SER-E014" />
			<xs:enumeration value="SER-E015" />
			<xs:enumeration value="SER-E016" />
			<xs:enumeration value="SER-E017" />
			<xs:enumeration value="SER-E018" />
			<xs:enumeration value="SER-E019" />
			<xs:enumeration value="SER-E020" />
			<xs:enumeration value="SER-E021" />
			<xs:enumeration value="SER-E022" />
			<xs:enumeration value="SER-E023" />
			<xs:enumeration value="SER-E024" />
			<xs:enumeration value="SER-E025" />
			<xs:enumeration value="SER-E026" />
			<xs:enumeration value="SER-E027" />
			<xs:enumeration value="SER-E028" />
			<xs:enumeration value="SER-E029" />
			<xs:enumeration value="SER-E030" />
			<xs:enumeration value="SER-E031" />
			<xs:enumeration value="SER-E032" />
			<xs:enumeration value="SER-E033" />
			<xs:enumeration value="SER-E034" />
			<xs:enumeration value="SER-E035" />
			<xs:enumeration value="SER-E036" />
			<xs:enumeration value="SER-E037" />
			<xs:enumeration value="SER-E038" />
			<xs:enumeration value="SER-E039" />
			<xs:enumeration value="SER-E040" />
			<xs:enumeration value="SER-E041" />
			<xs:enumeration value="SER-E042" />
			<xs:enumeration value="SER-E043" />
			<xs:enumeration value="SER-E044" />
			<xs:enumeration value="SER-E045" />
			<xs:enumeration value="SER-E046" />
			<xs:enumeration value="SER-E047" />
			<xs:enumeration value="SER-E048" />
			<xs:enumeration value="SER-E049" />
			<xs:enumeration value="SER-E050" />
			<xs:enumeration value="SER-E051" />
			<xs:enumeration value="SER-E052" />
			<xs:enumeration value="SER-E053" />
			<xs:enumeration value="SER-E054" />
			<xs:enumeration value="SER-E055" />
			<xs:enumeration value="SER-E056" />
			<xs:enumeration value="SER-E057" />
			<xs:enumeration value="SER-E058" />
			<xs:enumeration value="SER-E059" />
			<xs:enumeration value="SER-E060" />
			<xs:enumeration value="SER-E061" />
			<xs:enumeration value="SER-E062" />
			<xs:enumeration value="SER-E063" />	
			<xs:enumeration value="SER-E064" />
			<xs:enumeration value="SER-E065" />
			<xs:enumeration value="SER-E066" />
			<xs:enumeration value="SER-E067" />
			<xs:enumeration value="SER-E068" />
			<xs:enumeration value="SER-E069" />
			<xs:enumeration value="SER-E070" />
			<xs:enumeration value="SER-E071" />
			<xs:enumeration value="SER-E072" />
			<xs:enumeration value="SER-E073" />	
			<xs:enumeration value="SER-E074" />
			
			<xs:enumeration value="SER-E100" />
			<xs:enumeration value="SER-E101" />
			<xs:enumeration value="SER-E102" />
			<xs:enumeration value="SER-E103" />
			<xs:enumeration value="SER-E104" />
			<xs:enumeration value="SER-E105" />
			<xs:enumeration value="SER-E106" />
			<xs:enumeration value="SER-E107" />
			<xs:enumeration value="SER-E108" />
			<xs:enumeration value="SER-E109" />
			<xs:enumeration value="SER-E110" />
			<xs:enumeration value="SER-E111" />
			<xs:enumeration value="SER-E112" />
			<xs:enumeration value="SER-E113" />
			<xs:enumeration value="SER-E114" />
			<xs:enumeration value="SER-E115" />
			<xs:enumeration value="SER-E116" />
			<xs:enumeration value="SER-E117" />
			<xs:enumeration value="SER-E118" />
			<xs:enumeration value="SER-E119" />
			<xs:enumeration value="SER-E120" />
			<xs:enumeration value="SER-E121" />
			<xs:enumeration value="SER-E122" />
			<xs:enumeration value="SER-E123" />
			<xs:enumeration value="SER-E124" />
			<xs:enumeration value="SER-E125" />
			<xs:enumeration value="SER-E126" />
			<xs:enumeration value="SER-E127" />
			<xs:enumeration value="SER-E128" />
			<xs:enumeration value="SER-E129" />
			<xs:enumeration value="SER-E130" />
			<xs:enumeration value="SER-E131" />
			<xs:enumeration value="SER-E132" />
			<xs:enumeration value="SER-E133" />
			<xs:enumeration value="SER-E134" />
			<xs:enumeration value="SER-E135" />
			<xs:enumeration value="SER-E136" />
			<xs:enumeration value="SER-E137" />
			<xs:enumeration value="SER-E138" />
			<xs:enumeration value="SER-E139" />
			<xs:enumeration value="SER-E140" />
			<xs:enumeration value="SER-E141" />
			<xs:enumeration value="SER-E142" />
			<xs:enumeration value="SER-E143" />
			<xs:enumeration value="SER-E144" />
			<xs:enumeration value="SER-E145" />
			<xs:enumeration value="SER-E146" />
			<xs:enumeration value="SER-E147" />
			<xs:enumeration value="SER-E148" />
			<xs:enumeration value="SER-E149" />
			<xs:enumeration value="SER-E150" />
			<xs:enumeration value="SER-E151" />
			<xs:enumeration value="SER-E152" />
			<xs:enumeration value="SER-E153" />
			<xs:enumeration value="SER-E154" />
			<xs:enumeration value="SER-E155" />
			<xs:enumeration value="SER-E156" />
			<xs:enumeration value="SER-E157" />
			<xs:enumeration value="SER-E158" />
			<xs:enumeration value="SER-E159" />
			
			<xs:enumeration value="SER-E160" />
			<xs:enumeration value="SER-E161" />
			<xs:enumeration value="SER-E162" />
			<xs:enumeration value="SER-E163" />
			<xs:enumeration value="SER-E164" />
			<xs:enumeration value="SER-E165" />
			<xs:enumeration value="SER-E166" />
			<xs:enumeration value="SER-E167" />
			
			<xs:enumeration value="SER-E168" />
			<xs:enumeration value="SER-E169" />
			<xs:enumeration value="SER-E170" />
			<xs:enumeration value="SER-E171" />
			<xs:enumeration value="SER-E172" />
			<xs:enumeration value="SER-E173" />
			<xs:enumeration value="SER-E174" />
			
			<xs:enumeration value="SER-E175" />
			<xs:enumeration value="SER-E176" />
			<xs:enumeration value="SER-E177" />
			<xs:enumeration value="SER-E178" />
			<xs:enumeration value="SER-E179" />
			<xs:enumeration value="SER-E180" />
			<xs:enumeration value="SER-E181" />
			<xs:enumeration value="SER-E182" />
			<xs:enumeration value="SER-E183" />
			<xs:enumeration value="SER-E184" />
			<xs:enumeration value="SER-E185" />
			<xs:enumeration value="SER-E186" />
			<xs:enumeration value="SER-E187" />
			<xs:enumeration value="SER-E188" />
			<xs:enumeration value="SER-E189" />
			<xs:enumeration value="SER-E190" />
			<xs:enumeration value="SER-E191" />
			<xs:enumeration value="SER-E192" />
			<xs:enumeration value="SER-E193" />
			<xs:enumeration value="SER-E194" />
			<xs:enumeration value="SER-E195" />
			<xs:enumeration value="SER-E196" />
			<xs:enumeration value="SER-E197" />
			<xs:enumeration value="SER-E198" />
			<xs:enumeration value="SER-E199" />
			<xs:enumeration value="SER-E200" />
			<xs:enumeration value="SER-E201" />
			<xs:enumeration value="SER-E202" />
			<xs:enumeration value="SER-E203" />
			<xs:enumeration value="SER-E204" />
			<xs:enumeration value="SER-E205" />
			<xs:enumeration value="SER-E206" />
			<xs:enumeration value="SER-E207" />
			<xs:enumeration value="SER-E208" />
			<xs:enumeration value="SER-E209" />
			
			<xs:enumeration value="SER-E900" />
			<xs:enumeration value="SER-E901" />
			<xs:enumeration value="SER-E902" />
			<xs:enumeration value="SER-E903" />
			<xs:enumeration value="SER-E904" />
			<xs:enumeration value="SER-E905" />
			<xs:enumeration value="SER-E906" />
			<xs:enumeration value="SER-E907" />
			<xs:enumeration value="SER-E908" />
			<xs:enumeration value="SER-E909" />
			<xs:enumeration value="SER-E910" />			

			<xs:enumeration value="SERNAV-E001" />
			<xs:enumeration value="SERNAV-E002" />
			<xs:enumeration value="SERNAV-E003" />
			<xs:enumeration value="SERNAV-E004" />
			<xs:enumeration value="SERNAV-E005" />
			<xs:enumeration value="SERNAV-E006" />
			<xs:enumeration value="SERNAV-E007" />
			<xs:enumeration value="SERNAV-E008" />
            <xs:enumeration value="SERNAV-E009" />
			<xs:enumeration value="SERNAV-E010" />
			<xs:enumeration value="SERNAV-E011" />

			<xs:enumeration value="SERMAN-E001" />
			<xs:enumeration value="SERMAN-E002" />
			<xs:enumeration value="SERMAN-E003" />
			<xs:enumeration value="SERMAN-E004" />
			<xs:enumeration value="SERMAN-E005" />
			<xs:enumeration value="SERMAN-E006" />
			<xs:enumeration value="SERMAN-E007" />
			<xs:enumeration value="SERMAN-E008" />
			<xs:enumeration value="SERMAN-E009" />
			<xs:enumeration value="SERMAN-E010" />
			<xs:enumeration value="SERMAN-E011" />
			<xs:enumeration value="SERMAN-E012" />
			<xs:enumeration value="SERMAN-E013" />
			<xs:enumeration value="SERMAN-E014" />
			<xs:enumeration value="SERMAN-E015" />
			<xs:enumeration value="SERMAN-E016" />

			<xs:enumeration value="SERREP-E001" />
			<xs:enumeration value="SERREP-E002" />
			<xs:enumeration value="SERREP-E003" />

			<xs:enumeration value="SERMUL-E001" />
			<xs:enumeration value="SERMUL-E002" />
			<xs:enumeration value="SERMUL-E900" />

			<xs:enumeration value="SERGEN-E001" />
			<xs:enumeration value="SERGEN-E002" />
			<xs:enumeration value="SERGEN-E003" />
			<xs:enumeration value="SERGEN-E004" />
			<xs:enumeration value="SERGEN-E005" />
			<xs:enumeration value="SERGEN-E006" />
			<xs:enumeration value="SERGEN-E007" />
			<xs:enumeration value="SERGEN-E008" />
			<xs:enumeration value="SERGEN-E009" />
			
			<xs:enumeration value="SERSMS-E001" />
			<xs:enumeration value="SERSMS-E002" />
			<xs:enumeration value="SERSMS-E003" />
			<xs:enumeration value="SERSMS-E004" />
			<xs:enumeration value="SERSMS-E005" />
			<xs:enumeration value="SERSMS-E006" />
			<xs:enumeration value="SERSMS-E008" />
			<xs:enumeration value="SERSMS-E009" />
			<xs:enumeration value="SERSMS-E010" />
			<xs:enumeration value="SERSMS-E011" />
			<xs:enumeration value="SERSMS-E012" />
			<xs:enumeration value="SERSMS-E013" />
			<xs:enumeration value="SERSMS-E014" />
			<xs:enumeration value="SERSMS-E015" />
			<xs:enumeration value="SERSMS-E016" />
			<xs:enumeration value="SERSMS-E017" />
			<xs:enumeration value="SERSMS-E018" />
			<xs:enumeration value="SERSMS-E019" />
			<xs:enumeration value="SERSMS-E020" />
			<xs:enumeration value="SERSMS-E021" />
			<xs:enumeration value="SERSMS-E022" />
			<xs:enumeration value="SERSMS-E023" />
			<xs:enumeration value="SERSMS-E024" />
			<xs:enumeration value="SERSMS-E025" />
			<xs:enumeration value="SERSMS-E026" />
			<xs:enumeration value="SERSMS-E027" />
			<xs:enumeration value="SERSMS-E028" />
			<xs:enumeration value="SERSMS-E029" />
			<xs:enumeration value="SERSMS-E030" />
			<xs:enumeration value="SERSMS-E031" />
			<xs:enumeration value="SERSMS-E032" />
			<xs:enumeration value="SERSMS-E033" />
			<xs:enumeration value="SERSMS-E034" />
			<xs:enumeration value="SERSMS-E035" />
			<xs:enumeration value="SERSMS-E036" />
			<xs:enumeration value="SERSMS-E037" />
			<xs:enumeration value="SERSMS-E038" />
			<xs:enumeration value="SERSMS-E039" />
			<xs:enumeration value="SERSMS-E040" />
			<xs:enumeration value="SERSMS-E041" />
			<xs:enumeration value="SERSMS-E042" />
			<xs:enumeration value="SERSMS-E043" />
			<xs:enumeration value="SERSMS-E044" />
			<xs:enumeration value="SERSMS-E045" />
			<xs:enumeration value="SERSMS-E046" />
			<xs:enumeration value="SERSMS-E047" />
			<xs:enumeration value="SERSMS-E048" />
			<xs:enumeration value="SERSMS-E049" />
			<xs:enumeration value="SERSMS-E050" />
			<xs:enumeration value="SERSMS-E051" />
			
			<xs:enumeration value="SERQRY-E001" />
			<xs:enumeration value="SERQRY-E002" />
			<xs:enumeration value="SERQRY-E003" />
			<xs:enumeration value="SERQRY-E004" />
			<xs:enumeration value="SERQRY-E005" />
			<xs:enumeration value="SERQRY-E006" />
			<xs:enumeration value="SERQRY-E007" />
			<xs:enumeration value="SERQRY-E008" />
			<xs:enumeration value="SERQRY-E009" />
			<xs:enumeration value="SERQRY-E010" />
			<xs:enumeration value="SERQRY-E011" />
			<xs:enumeration value="SERQRY-E012" />
			<xs:enumeration value="SERQRY-E013" />
			<xs:enumeration value="SERQRY-E014" />
			<xs:enumeration value="SERQRY-E015" />
			<xs:enumeration value="SERQRY-E016" />
			<xs:enumeration value="SERQRY-E017" />
			<xs:enumeration value="SERQRY-E018" />
			<xs:enumeration value="SERQRY-E019" />
			<xs:enumeration value="SERQRY-E020" />
			<xs:enumeration value="SERQRY-E021" />
			<xs:enumeration value="SERQRY-E022" />
			<xs:enumeration value="SERQRY-E023" />
			<xs:enumeration value="SERQRY-E024" />
			
			<xs:enumeration value="SERBKO-E001" />
			<xs:enumeration value="SERBKO-E002" />
			<xs:enumeration value="SERBKO-E003" />
			<xs:enumeration value="SERBKO-E004" />
			<xs:enumeration value="SERBKO-E005" />
			<xs:enumeration value="SERBKO-E006" />
			<xs:enumeration value="SERBKO-E007" />
			<xs:enumeration value="SERBKO-E008" />
			<xs:enumeration value="SERBKO-E009" />
			<xs:enumeration value="SERBKO-E010" />
			<xs:enumeration value="SERBKO-E011" />
			<xs:enumeration value="SERBKO-E012" />
			<xs:enumeration value="SERBKO-E013" />
			<xs:enumeration value="SERBKO-E014" />
			
			<xs:enumeration value="SERDOC-E001" />
			<xs:enumeration value="SERDOC-E002" />
			<xs:enumeration value="SERDOC-E003" />
			<xs:enumeration value="SERDOC-E004" />
			<xs:enumeration value="SERDOC-E005" />
			<xs:enumeration value="SERDOC-E006" />
			<xs:enumeration value="SERDOC-E007" />
			<xs:enumeration value="SERDOC-E008" />
			<xs:enumeration value="SERDOC-E009" />
			<xs:enumeration value="SERDOC-E010" />
			<xs:enumeration value="SERDOC-E011" />
			<xs:enumeration value="SERDOC-E012" />
			<xs:enumeration value="SERDOC-E013" />
			<xs:enumeration value="SERDOC-E014" />
			<xs:enumeration value="SERDOC-E015" />
			<xs:enumeration value="SERDOC-E016" />
			<xs:enumeration value="SERDOC-E017" />
			<xs:enumeration value="SERDOC-E018" />
			<xs:enumeration value="SERDOC-E019" />
			<xs:enumeration value="SERDOC-E020" />
			<xs:enumeration value="SERDOC-E021" />
			<xs:enumeration value="SERDOC-E022" />
			<xs:enumeration value="SERDOC-E023" />
			<xs:enumeration value="SERDOC-E024" />
			<xs:enumeration value="SERDOC-E025" />
			<xs:enumeration value="SERDOC-E026" />
			<xs:enumeration value="SERDOC-E027" />
			<xs:enumeration value="SERDOC-E028" />
			<xs:enumeration value="SERDOC-E029" />
			<xs:enumeration value="SERDOC-E030" />
			<xs:enumeration value="SERDOC-E031" />
			<xs:enumeration value="SERDOC-E032" />
			<xs:enumeration value="SERDOC-E033" />
			<xs:enumeration value="SERDOC-E034" />
			<xs:enumeration value="SERDOC-E035" />
			<xs:enumeration value="SERDOC-E036" />
			<xs:enumeration value="SERDOC-E037" />
			<xs:enumeration value="SERDOC-E038" />
			<xs:enumeration value="SERDOC-E039" />
			<xs:enumeration value="SERDOC-E040" />
			<xs:enumeration value="SERDOC-E041" />
			<xs:enumeration value="SERDOC-E042" />
			<xs:enumeration value="SERDOC-E043" />
			<xs:enumeration value="SERDOC-E044" />
			<xs:enumeration value="SERDOC-E045" />
			<xs:enumeration value="SERDOC-E046" />
			<xs:enumeration value="SERDOC-E047" />
			<xs:enumeration value="SERDOC-E048" />
			<xs:enumeration value="SERDOC-E049" />
			<xs:enumeration value="SERDOC-E050" />
			<xs:enumeration value="SERDOC-E051" />
			<xs:enumeration value="SERDOC-E052" />
			<xs:enumeration value="SERDOC-E053" />
			<xs:enumeration value="SERDOC-E054" />
			<xs:enumeration value="SERDOC-E055" />
			<xs:enumeration value="SERDOC-E056" />
			<xs:enumeration value="SERDOC-E057" />
			<xs:enumeration value="SERDOC-E058" />
			<xs:enumeration value="SERDOC-E059" />
			<xs:enumeration value="SERDOC-E060" />
			<xs:enumeration value="SERDOC-E061" />
			<xs:enumeration value="SERDOC-E062" />
			<xs:enumeration value="SERDOC-E063" />
			<xs:enumeration value="SERDOC-E064" />
			<xs:enumeration value="SERDOC-E065" />
			<xs:enumeration value="SERDOC-E066" />
			<xs:enumeration value="SERDOC-E067" />
			<xs:enumeration value="SERDOC-E068" />
			<xs:enumeration value="SERDOC-E069" />
			<xs:enumeration value="SERDOC-E070" />
			<xs:enumeration value="SERDOC-E071" />
			<xs:enumeration value="SERDOC-E072" />
			<xs:enumeration value="SERDOC-E073" />
			<xs:enumeration value="SERDOC-E074" />
			<xs:enumeration value="SERDOC-E075" />
			<xs:enumeration value="SERDOC-E076" />
			<xs:enumeration value="SERDOC-E077" />
			<xs:enumeration value="SERDOC-E078" />
			<xs:enumeration value="SERDOC-E079" />
			<xs:enumeration value="SERDOC-E080" />
			
			<xs:enumeration value="SERPRT-E001" />
			<xs:enumeration value="SERPRT-E002" />
			<xs:enumeration value="SERPRT-E003" />
			<xs:enumeration value="SERPRT-E004" />
			<xs:enumeration value="SERPRT-E005" />
			<xs:enumeration value="SERPRT-E006" />
			<xs:enumeration value="SERPRT-E007" />
			<xs:enumeration value="SERPRT-E008" />
			<xs:enumeration value="SERPRT-E009" />
			<xs:enumeration value="SERPRT-E010" />
			<xs:enumeration value="SERPRT-E011" />
			<xs:enumeration value="SERPRT-E012" />
			<xs:enumeration value="SERPRT-E013" />
			<xs:enumeration value="SERPRT-E014" />
			<xs:enumeration value="SERPRT-E015" />
			
			<xs:enumeration value="SERSR-E001" />
			<xs:enumeration value="SERSR-E002" />
			<xs:enumeration value="SERSR-E003" />
			<xs:enumeration value="SERSR-E004" />
			<xs:enumeration value="SERSR-E005" />
			<xs:enumeration value="SERSR-E006" />
			<xs:enumeration value="SERSR-E007" />
			<xs:enumeration value="SERSR-E008" />
			<xs:enumeration value="SERSR-E009" />
			<xs:enumeration value="SERSR-E010" />
			<xs:enumeration value="SERSR-E011" />
			<xs:enumeration value="SERSR-E012" />
			<xs:enumeration value="SERSR-E013" />
			<xs:enumeration value="SERSR-E014" />
			<xs:enumeration value="SERSR-E015" />
			<xs:enumeration value="SERSR-E016" />
			<xs:enumeration value="SERSR-E017" />
			<xs:enumeration value="SERSR-E018" />
			
			<xs:enumeration value="SEROB-E001" />
			<xs:enumeration value="SEROB-E002" />
			<xs:enumeration value="SEROB-E003" />
			<xs:enumeration value="SEROB-E004" />
			<xs:enumeration value="SEROB-E005" />
			<xs:enumeration value="SEROB-E006" />
			<xs:enumeration value="SEROB-E007" />
			<xs:enumeration value="SEROB-E008" />
			<xs:enumeration value="SEROB-E009" />
			<xs:enumeration value="SEROB-E010" />
			<xs:enumeration value="SEROB-E011" />
			<xs:enumeration value="SEROB-E012" />
			<xs:enumeration value="SEROB-E013" />
			<xs:enumeration value="SEROB-E014" />
			<xs:enumeration value="SEROB-E015" />
			<xs:enumeration value="SEROB-E016" />
			<xs:enumeration value="SEROB-E017" />
			<xs:enumeration value="SEROB-E018" />
			<xs:enumeration value="SEROB-E019" />
			<xs:enumeration value="SEROB-E020" />
			<xs:enumeration value="SEROB-E021" />
			<xs:enumeration value="SEROB-E022" />
			<xs:enumeration value="SEROB-E023" />
			<xs:enumeration value="SEROB-E024" />
			<xs:enumeration value="SEROB-E025" />
			<xs:enumeration value="SEROB-E026" />
			<xs:enumeration value="SEROB-E027" />
			<xs:enumeration value="SEROB-E028" />
			<xs:enumeration value="SEROB-E029" />
			<xs:enumeration value="SEROB-E030" />
			<xs:enumeration value="SEROB-E031" />
			
			<xs:enumeration value="SERMASS-E001" />
			<xs:enumeration value="SERMASS-E002" />
			<xs:enumeration value="SERMASS-E003" />
		</xs:restriction>
	</xs:simpleType>

	<!--===============-->
	<!-- tipi semplici -->
	<!--===============-->

	<xs:simpleType name="contentStreamLengthType">
		<xs:restriction base="tns:integer"/>
	</xs:simpleType>
	<xs:simpleType name="contentStreamFilenameType">
		<xs:restriction base="tns:string"/>
	</xs:simpleType>
	<xs:simpleType name="enumMimeTypeType">
		<xs:restriction base="tns:string">
			<xs:enumeration value="image/tiff"/>
			<xs:enumeration value="image/x-tiff"/>
			<xs:enumeration value="image/jpeg"/>
			<xs:enumeration value="image/pjpeg"/>
			<xs:enumeration value="application/pdf"/>
			<xs:enumeration value="text/plain"/>
			<xs:enumeration value="application/x-compressed"/>
			<xs:enumeration value="application/x-zip-compressed"/>
			<xs:enumeration value="application/zip"/>
			<xs:enumeration value="multipart/x-zip"/>
			<xs:enumeration value="application/x-tar"/>
			<xs:enumeration value="application/gnutar"/>
			<xs:enumeration value="application/pkcs7-mime"/>
			<xs:enumeration value="application/timestamp-reply"/>
			<xs:enumeration value="multipart/mixed"/>
			<xs:enumeration value="application/msword"/>
			<xs:enumeration value="application/rtf"/>
			<xs:enumeration value="application/x-rtf"/>
			<xs:enumeration value="text/richtext"/>
			<xs:enumeration value="application/excel"/>
			<xs:enumeration value="application/vnd.ms-excel"/>
			<xs:enumeration value="application/x-excel"/>
			<xs:enumeration value="application/x-msexcel"/>
			<xs:enumeration value="application/mspowerpoint"/>                                   
			<xs:enumeration value="application/powerpoint"/>                                     
			<xs:enumeration value="application/vnd.ms-powerpoint"/>                              
			<xs:enumeration value="application/x-mspowerpoint"/>
			<xs:enumeration value="application/vnd.oasis.opendocument.chart"/>
			<xs:enumeration value="application/vnd.oasis.opendocument.graphics"/>
			<xs:enumeration value="application/vnd.oasis.opendocument.image"/>
			<xs:enumeration value="application/vnd.oasis.opendocument.presentation"/>
			<xs:enumeration value="application/vnd.oasis.opendocument.spreadsheet"/>
			<xs:enumeration value="application/vnd.oasis.opendocument.text"/>
			<xs:enumeration value="application/xml"/>
			<xs:enumeration value="application/xsl"/>
			<xs:enumeration value="application/timestamped-data"/>
			<xs:enumeration value="text/html"/>
			<xs:enumeration value="message/rfc822"/>
			<xs:enumeration value="image/png"/>
			<xs:enumeration value="application/dwf"/>
			<xs:enumeration value="application/pkcs7-signature"/>
			<xs:enumeration value="application/vnd.excel"/>
			<xs:enumeration value="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
			<xs:enumeration value="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
			<xs:enumeration value="application/x-7z-compressed"/>
			<xs:enumeration value="application/x-zip-compressed"/>
			<xs:enumeration value="application/x-rar-compressed"/>			
			<xs:enumeration value="audio/mpeg3"/>
			<xs:enumeration value="audio/wav"/>
			<xs:enumeration value="audio/x-mpeg-3"/>
			<xs:enumeration value="audio/x-wav"/>
			<xs:enumeration value="drawing/x-dwf"/>
			<xs:enumeration value="image/bmp"/>
			<xs:enumeration value="image/pipeg"/>
			<xs:enumeration value="image/vnd.dwf"/>
			<xs:enumeration value="image/x-dwf"/>
			<xs:enumeration value="text/xml"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Tipo comune per gli ID -->
	<xs:simpleType name="IDType">
		<xs:restriction base="tns:string"/>
	</xs:simpleType>
	<!-- Tipo comune per gli XML -->
	<xs:simpleType name="XMLType">
		<xs:restriction base="tns:string"/>
	</xs:simpleType>

	<xs:simpleType name="enumServiceException">
		<xs:restriction base="tns:string">
			<!--  general exceptions -->
			<xs:enumeration value="invalidArgument" />
			<xs:enumeration value="objectNotFound" />
			<xs:enumeration value="notSupported" />
			<xs:enumeration value="permissionDenied" />
			<xs:enumeration value="runtime" />

			<!--  specific exceptions -->
			<xs:enumeration value="constraint" />
			<xs:enumeration value="contentAlreadyExists" />
			<xs:enumeration value="filterNotValid" />
			<xs:enumeration value="storage" />
			<xs:enumeration value="streamNotSupported" />
			<xs:enumeration value="updateConflict" />
			<xs:enumeration value="versioning" />

			<!--  system exceptions -->
			<xs:enumeration value="systemError" />
			<xs:enumeration value="unrecoverableError" />
			<xs:enumeration value="configurationError" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="enumPropertyFilter">
		<xs:restriction base="tns:string">
			<xs:enumeration value="none" />
			<xs:enumeration value="all" />
			<xs:enumeration value="list" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="enumPropertyFilterOperation">
		<xs:restriction base="tns:string">
			<xs:enumeration value="none" />
			<xs:enumeration value="all" />
			<xs:enumeration value="query" />
			<xs:enumeration value="getProperties" />
			<xs:enumeration value="getDescendants" />
			<xs:enumeration value="getChildren" />
			<xs:enumeration value="getFolderParent" />
			<xs:enumeration value="getObjectParents" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="enumStreamId">
		<xs:restriction base="tns:string">
			<xs:enumeration value="primary" />
			<xs:enumeration value="signature" />
			<xs:enumeration value="timestamp" />
			<xs:enumeration value="renditionEngine" />
			<xs:enumeration value="renditionDocument" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ValueType">
		<xs:sequence>
		      <xs:element name="content" type="tns:string" 
			    minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SimpleResponseType">
			<xs:sequence>
				<xs:element name="objectId" type="tns:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="changeToken" type="tns:ChangeTokenType"
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="acarisFaultType">
		<xs:sequence>
			<xs:element name="exceptionType" type="tns:enumServiceException" />
			<xs:element name="errorCode" type="tns:enumErrorCodeType" />
			<xs:element name="technicalInfo" type="tns:string" />
			<xs:element name="objectId" type="tns:ObjectIdType" />
			<xs:element name="className" type="tns:enumObjectType" />
			<xs:element name="propertyName" type="tns:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="acarisFault" type="tns:acarisFaultType" />	

	<xs:complexType name="QueryNameType">
		<xs:sequence>
		      <xs:element name="className" type="tns:string"/> 
		      <xs:element name="propertyName" type="tns:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PropertyType">
		<xs:sequence>
		      <!-- objectName:propertyName -->
		      <xs:element name="queryName" type="tns:QueryNameType"/> 
		      <xs:element name="value" type="tns:ValueType" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexPropertyType">
		<xs:complexContent>
			<xs:extension base="tns:PropertyType">
				<xs:sequence>
					<xs:element name="nested"						type="tns:ComplexPropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	
	<xs:complexType name="ObjectResponseType">
		<xs:sequence>
			<xs:element name="objectId" type="tns:ObjectIdType" />
			<xs:element name="properties" type="tns:PropertyType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<!--
	<xs:element name="ObjectResponseType">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="objectId" type="tns:ObjectIdType" />
			<xs:element name="properties" type="tns:PropertyType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		</xs:complexType>
	</xs:element>
	-->
	<xs:complexType name="PagingResponseType">
		<xs:sequence>
		      <xs:element name="objects" type="tns:ObjectResponseType" 
			    minOccurs="0" maxOccurs="unbounded" /> 
		      <xs:element name="hasMoreItems" type="tns:boolean"
					minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PropertyFilterType">
		<xs:sequence>
		      <!-- input all'algoritmo di filtraggio delle properties -->
		      <xs:element name="filterType" type="tns:enumPropertyFilter" 
		      minOccurs="1" maxOccurs="1" /> 
		      <!-- lista di valori puntuali del filtro: da valorizzare solo se enumPropertyFilter = list -->
		      <xs:element name="propertyList" type="tns:QueryNameType" 
		      minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<!--  Content Stream  -->
	<xs:complexType name="acarisContentStreamType">
		<xs:sequence>
			<xs:element name="length" type="tns:contentStreamLengthType" minOccurs="0" />
			<xs:element name="mimeType" type="tns:enumMimeTypeType" minOccurs="0" />
			<xs:element name="filename" type="tns:contentStreamFilenameType" minOccurs="0" />
			<!-- <xs:element name="uri" type="xs:anyURI" minOccurs="0" /> -->
			<xs:element name="streamMTOM" type="tns:base64Binary" xmime:expectedContentTypes="*/*" />
			<xs:element name="stream" type="tns:base64Binary" />
			<xs:element name="nodeUID" type="tns:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<!--  Varargs  -->
	<xs:complexType name="ItemType">
		<xs:sequence>
			<xs:element name="key" type="tns:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="value" type="tns:string"  minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="VarargsType">
		<xs:sequence>
			<xs:element name="items" type="tns:ItemType" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	

	<!--====================-->
	<!-- 	ACTA Objects	-->
	<!--====================-->
	<xs:complexType name="PropertiesType" abstract="true">
		<xs:sequence>
			<!-- 	Non sono presenti properties locali. -->
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CommonPropertiesType" abstract="true">
		<xs:complexContent>
			<xs:extension base="tns:PropertiesType">
				<xs:sequence>
					<xs:element name="objectId"						type="tns:ObjectIdType"/>
					<xs:element name="changeToken"					type="tns:ChangeTokenType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="enumObjectType">
		<xs:annotation>
			<xs:documentation>
			Lista di valori ottenuta dall'unione di tutti i tipi di oggetti ACARIS.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:string">
			<!--================-->
			<!-- 	Archive		-->
			<!--================-->
			<xs:enumeration value="ContenutoFisicoPropertiesType"/>
			<xs:enumeration value="VerifyReportPropertiesType"/>
			<xs:enumeration value="GruppoAllegatiPropertiesType"/>
			<xs:enumeration value="DocumentoDBPropertiesType"/>
			<xs:enumeration value="DocumentoRegistroPropertiesType"/>
			<xs:enumeration value="DocumentoSemplicePropertiesType"/>
			<xs:enumeration value="ClipsMetallicaPropertiesType"/>
			<xs:enumeration value="TitolarioPropertiesType"/>
			<xs:enumeration value="VocePropertiesType"/>
			<xs:enumeration value="ClassificazionePropertiesType"/>
			<xs:enumeration value="FascicoloTemporaneoPropertiesType"/>
			<xs:enumeration value="DocumentoFisicoPropertiesType"/>
			<xs:enumeration value="SottofascicoloPropertiesType"/>
			<xs:enumeration value="DossierPropertiesType"/>
			<xs:enumeration value="VolumeSerieFascicoliPropertiesType"/>
			<xs:enumeration value="VolumeSerieTipologicaDocumentiPropertiesType"/>
			<xs:enumeration value="VolumeFascicoliPropertiesType"/>
			<xs:enumeration value="VolumeSottofascicoliPropertiesType"/>
			<xs:enumeration value="SerieDossierPropertiesType"/>
			<xs:enumeration value="SerieTipologicaDocumentiPropertiesType"/>
			<xs:enumeration value="SerieFascicoliPropertiesType"/>
			<xs:enumeration value="FascicoloRealeEreditatoPropertiesType"/>
			<xs:enumeration value="FascicoloRealeLiberoPropertiesType"/>
			<xs:enumeration value="FascicoloRealeLegislaturaPropertiesType"/>
			<xs:enumeration value="FascicoloRealeAnnualePropertiesType"/>
			<xs:enumeration value="FascicoloRealeContinuoPropertiesType"/>
			<xs:enumeration value="FascicoloStdPropertiesType"/>
			<xs:enumeration value="AnnotazionePropertiesType"/>
			<xs:enumeration value="DocumentAssociationPropertiesType"/>
			<xs:enumeration value="HistoryModificheTecnichePropertiesType"/>
			<xs:enumeration value="DocumentCompositionPropertiesType"/>
			<xs:enumeration value="HistoryVecchieVersioniPropertiesType"/>
			<xs:enumeration value="ActaACEPropertiesType"/>
			<!--========================-->
			<!-- 	SubjectRegistry		-->
			<!--========================-->
			<xs:enumeration value="SoggettoPropertiesType"/>
			<!--====================-->
			<!-- 	OfficialBook	-->
			<!--====================-->
			<xs:enumeration value="RegistrazionePropertiesType"/>
			<xs:enumeration value="CorrispondentePropertiesType"/>
			<xs:enumeration value="RegistroPropertiesType"/>
			<xs:enumeration value="RegistroProtocolloPropertiesType"/>
			<!--================-->
			<!-- 	BackOffice	-->
			<!--================-->
			<xs:enumeration value="EntePropertiesType"/>
			<xs:enumeration value="StrutturaPropertiesType"/>
			<xs:enumeration value="NodoPropertiesType"/>
			<xs:enumeration value="AOOPropertiesType"/>
			<xs:enumeration value="UtentePropertiesType"/>
			<xs:enumeration value="FormaDocumentariaPropertiesType"/>
			<xs:enumeration value="ProfiloPropertiesType"/>
			<xs:enumeration value="GruppoAOOPropertiesType"/>
			<xs:enumeration value="SistemaPropertiesType"/>
			<xs:enumeration value="UtenteProfilo"/>
			<xs:enumeration value="ProtocolloPropertiesType"/>
			<xs:enumeration value="NodoConStruttura"/>
			<!--====================-->
			<!-- 	Smistamento  	-->
			<!--====================-->
			<xs:enumeration value="SmistamentoDestinatarioPropertiesType"/>
			<xs:enumeration value="SmistamentoMittentePropertiesType"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="AllowedChildObjectTypeIdsType">
		<xs:sequence>
			<xs:element name="value" type="tns:enumObjectType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!--====================-->
	<!-- 	   Query       	-->
	<!--====================-->
	
	<!--
		= 	equals
			not equal to
		> 	greater than
		< 	less than
		>= 	greater than or equal to
		<=	less than or equal to
	-->
	
	<xs:simpleType name="enumQueryOperator">
		<xs:restriction base="tns:string">
			<xs:enumeration value="equals" />
			<xs:enumeration value="greaterThan" />
			<xs:enumeration value="lessThan" />
			<xs:enumeration value="greaterThanOrEqualTo" />
			<xs:enumeration value="lessThanOrEqualTo" />
			<xs:enumeration value="like" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="QueryConditionType">
		<xs:sequence>
			<xs:element name="propertyName" type="tns:string" 
			    minOccurs="1" maxOccurs="1" /> 
			<xs:element name="operator" type="tns:enumQueryOperator" 
			    minOccurs="1" maxOccurs="1" /> 
			<xs:element name="value" type="tns:string" 
			    minOccurs="1" maxOccurs="1" /> 
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QueryableObjectType">
		<xs:sequence>
			<xs:element name="object" type="tns:string" 
			    minOccurs="1" maxOccurs="1" /> 
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ObjectMetadataType">
		<xs:sequence>
			<xs:element name="queryName" type="tns:QueryNameType" 
			    minOccurs="1" maxOccurs="1" /> 
			<xs:element name="selectable" type="tns:boolean"
			    minOccurs="1" maxOccurs="1" /> 
			<xs:element name="queryable" type="tns:boolean"
			    minOccurs="1" maxOccurs="1" /> 
			<xs:element name="operators" type="tns:string"
			    minOccurs="1" maxOccurs="unbounded" /> 
			<xs:element name="dataType" type="tns:string"
			    minOccurs="1" maxOccurs="1" /> 
			<xs:element name="updatable" type="tns:boolean"
			    minOccurs="1" maxOccurs="1" /> 
			<xs:element name="propertyFilterConfigurationInfo" type="tns:PropertyFilterConfigurationInfoType" 
					minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:complexType name="PropertyFilterConfigurationInfoType">
		<xs:sequence>
			<xs:element name="operation" type="tns:enumPropertyFilterOperation" 
			    minOccurs="1" maxOccurs="1" /> 
			<xs:element name="isAllAllowed" type="tns:boolean"
			    minOccurs="1" maxOccurs="1" /> 
			<xs:element name="isNoneAllowed" type="tns:boolean"
			    minOccurs="1" maxOccurs="1" /> 
			<xs:element name="isListAllowed" type="tns:boolean"
			    minOccurs="1" maxOccurs="1" /> 
		</xs:sequence>
	</xs:complexType>
	
	<!-- query Operation -->
	<xs:element name="query">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="tns:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="tns:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="target" type="tns:QueryableObjectType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="filter" type="tns:PropertyFilterType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="criteria" type="tns:QueryConditionType" 
					minOccurs="1" maxOccurs="unbounded" />
				<xs:element name="navigationLimits" type="tns:NavigationConditionInfoType" 
					minOccurs="0" maxOccurs="1" />
				<xs:element name="maxItems" type="tns:integer" 
					minOccurs="0" maxOccurs="1" />
				<xs:element name="skipCount" type="tns:integer" 
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="NavigationConditionInfoType">
		<xs:sequence>
			<xs:element name="parentNodeId" type="tns:ObjectIdType" 
				minOccurs="0" maxOccurs="1" />
			<xs:element name="limitToChildren" type="tns:boolean" 
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:element name="queryResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="object" type="tns:PagingResponseType"
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- Annotazioni -->
	<xs:complexType name="AnnotazioniPropertiesType">
		<xs:complexContent>
			<xs:extension base="tns:CommonPropertiesType">
				<xs:sequence>
					<xs:element name="objectTypeId" type="tns:enumCommonObjectType"/>
					<xs:element name="descrizione" type="tns:string"
						minOccurs="1" maxOccurs="1" /> 
					<xs:element name="idUtente" type="tns:IdUtenteType"
						minOccurs="1" maxOccurs="1" /> 
					<xs:element name="data" type="tns:date"
						minOccurs="1" maxOccurs="1" /> 
					<xs:element name="annotazioneFormale" type="tns:boolean"
						minOccurs="1" maxOccurs="1" /> 
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="ProtocolloPropertiesType">
		<xs:complexContent>
			<xs:extension base="tns:CommonPropertiesType">
				<xs:sequence>
					<xs:element name="objectTypeId" 					type="tns:enumCommonObjectType"/>
					<xs:element name="numRegistrazioneProtocollo"		type="tns:string"/>
					<xs:element name="dataRegistrazioneProtocollo"		type="tns:date"/>
					<xs:element name="oggetto"							type="tns:string"/>
					<xs:element name="entrata"							type="tns:boolean"/>
					<xs:element name="AOOCheRegistra"					type="tns:string"/>
					<xs:element name="EnteCheRegistra"					type="tns:string"/>
					<xs:element name="mittente"							type="tns:string" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="destinatario"						type="tns:string" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="segnaturaInternaXML"				type="tns:XMLType"/>
					<xs:element name="segnaturaEsternaXML"				type="tns:XMLType"/>
					<xs:element name="riservato"						type="tns:boolean"/>
					<xs:element name="annullato"						type="tns:boolean"/>
					<xs:element name="uuidRegistrazioneProtocollo"		type="tns:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	
	<xs:simpleType name="enumCommonObjectType">
		<xs:annotation>
			<xs:documentation>
				Oggetti di Common 
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="tns:string">
			<xs:enumeration value="AnnotazioniPropertiesType"/>
			<xs:enumeration value="ProtocolloPropertiesType"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- getPropertiesMassive Operation -->
	<xs:element name="getPropertiesMassive">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="tns:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="tns:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="identifiers" type="tns:ObjectIdType" 
					minOccurs="1" maxOccurs="unbounded" />
				<xs:element name="filter" type="tns:PropertyFilterType" 
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getPropertiesMassiveResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="object" type="tns:ObjectResponseType"
					minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>