pbgestfinbo/pbgestfinbo-jar/src/main/resources/wsdl/ACARIS-BackOfficeMessaging.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
	targetNamespace="backoffice.acaris.acta.doqui.it"
	xmlns:tns="backoffice.acaris.acta.doqui.it"
	xmlns:common="common.acaris.acta.doqui.it">

    <xs:include schemaLocation="ACARIS-BackOffice.xsd"/>
    <xs:import namespace="common.acaris.acta.doqui.it"  schemaLocation="ACARIS-Common.xsd"/>

	<!--========================================-->
	<!-- Exceptions ed altre classi             -->
	<!-- candidate ad essere spostate in common -->
	<!--========================================-->

	<!--============================-->
	<!-- Classi locali allo schema  -->
	<!--============================-->

	<xs:complexType name="PrincipalResponseType">
		<xs:sequence>
			<xs:element name="idPrincipal" type="common:PrincipalIdType" />
			<xs:element name="idAOO" type="common:IdAOOType" />
			<xs:element name="idStruttura" type="common:IdStrutturaType" />
			<xs:element name="idNodo" type="common:IdNodoType" />
			<xs:element name="profili" type="tns:ProfiloPropertiesType"
					minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PrincipalExtResponseType">
		<xs:sequence>
			<xs:element name="principalId" type="common:PrincipalIdType"
					minOccurs="1" maxOccurs="1" />
			<xs:element name="utente" type="tns:CollocazioneUtente"
					minOccurs="1" maxOccurs="1" />
			<xs:element name="profili" type="common:DecodificaType"
					minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RelazioniStrutturaPropertiesType">
		<xs:sequence>
			<xs:element name="idStrutturaPartenza" type="common:ObjectIdType"/>
			<xs:element name="ruoloStrutturaPartenza" type="tns:enumRuoloInGerarchiaType" />
			<xs:element name="idStrutturaRelazionata" type="common:ObjectIdType"/>
			<xs:element name="idParentStrutturaRelazionata" type="common:ObjectIdType"/>
			<xs:element name="idParentStrutturaRelazionataInChiaro" type="common:string"/>
			<xs:element name="level" type="common:integer"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CollocazioneUtente">
		<xs:sequence>
			<xs:element name="aoo" type="common:DecodificaExtType"
					minOccurs="1" maxOccurs="1" />
			<xs:element name="struttura" type="common:DecodificaExtType"
					minOccurs="1" maxOccurs="1" />
			<xs:element name="nodo" type="common:DecodificaExtType"
					minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ClientApplicationInfo">
		<xs:sequence>
			<xs:element name="appKey" type="common:string" />
			<xs:element name="info" type="common:VarargsType"
					minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="enumBackOfficeNavigationPathType">
		<xs:restriction base="common:string">
			<xs:enumeration value="aoo"/>
			<xs:enumeration value="strutture"/>
			<xs:enumeration value="utenti"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enumRuoloInGerarchiaType">
		<xs:restriction base="common:string">
			<xs:enumeration value="parent"/>
			<xs:enumeration value="child"/>
		</xs:restriction>
	</xs:simpleType>

	<!--=====================-->
	<!-- Service operations  -->
	<!--=====================-->
	
	<!-- getDescendants operation -->
	<xs:element name="getDescendants">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="0" maxOccurs="1" />
				<xs:element name="path" type="tns:enumBackOfficeNavigationPathType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="rootNodeId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="date" type="common:date" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="depth" type="common:integer" 
					minOccurs="0" maxOccurs="1" />
				<xs:element name="filter" type="common:PropertyFilterType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="maxItems" type="common:integer" 
					minOccurs="0" maxOccurs="1" />
				<xs:element name="skipCount" type="common:integer" 
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getDescendantsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="objects" type="common:PagingResponseType"
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- getObjectParents Operation -->
	<xs:element name="getObjectParents">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
					<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="rootNodeId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="date" type="common:date" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="filter" type="common:PropertyFilterType" 
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getObjectParentsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="objects" type="common:ObjectResponseType"
					minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<!-- getRelazioniStruttura (naviga gerarchia) -->
	<xs:element name="getRelazioniStruttura">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="objectId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="ruolo" type="tns:enumRuoloInGerarchiaType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="date" type="common:date" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="filter" type="common:PropertyFilterType" 
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getRelazioniStrutturaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="response" type="tns:RelazioniStrutturaPropertiesType"
					minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- getProperties Operation -->
	<xs:element name="getProperties">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="objectId" type="common:ObjectIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" type="common:PrincipalIdType" 
					minOccurs="1" maxOccurs="1" />
				<xs:element name="filter" type="common:PropertyFilterType" 
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getPropertiesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="object" type="common:ObjectResponseType"
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- getPrincipal Operation -->
	<xs:element name="getPrincipal">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="idUtente" type="common:CodiceFiscaleType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="idAOO" type="common:IdAOOType"
					maxOccurs="1" />
				<xs:element name="idStruttura" type="common:IdStrutturaType"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="idNodo" type="common:IdNodoType"
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getPrincipalResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="principal" type="tns:PrincipalResponseType"
					minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- getPrincipal Operation -->
	<xs:element name="getPrincipalExt">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="idUtente" type="common:CodiceFiscaleType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="idAOO" type="common:IdAOOType"
					maxOccurs="1" />
				<xs:element name="idStruttura" type="common:IdStrutturaType"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="idNodo" type="common:IdNodoType"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="clientApplicationInfo" type="tns:ClientApplicationInfo"
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getPrincipalExtResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="principal" type="tns:PrincipalExtResponseType"
					minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- getDettaglioAOO Operation -->
	<xs:element name="getDettaglioAOO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="idAOO" type="common:IdAOOType"
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getDettaglioAOOResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dettaglioAOO" type="tns:DettaglioAOOType"
				minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- getDettaglioStruttura Operation -->
	<xs:element name="getDettaglioStruttura">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="idStruttura" type="common:IdStrutturaType"
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getDettaglioStrutturaResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dettaglioStruttura" type="tns:DettaglioStrutturaType"
				minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- getQueryableObjects Operation -->
	<xs:element name="getQueryableObjects">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="service" type="tns:enumServiceType"
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getQueryableObjectsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="queryableObjectList" type="common:QueryableObjectType"
				minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- getQueryableObjectMetadata Operation -->
	<xs:element name="getQueryableObjectMetadata">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" type="common:ObjectIdType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="queryableObject" type="common:QueryableObjectType"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="operation" type="common:enumPropertyFilterOperation"
					minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getQueryableObjectMetadataResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="queryableObjectMetadataList" type="common:ObjectMetadataType"
				minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
